@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.srOnly {
  position: absolute;
  overflow: hidden;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  width: 0.1px;
  height: 0.1px;
  white-space: nowrap;
}

.foregroundCircle {
  stroke: var(--carmore-icon-loading-spinner-foreground, #f3f3f3);
}

.backgroundCircle {
  stroke: var(--carmore-icon-loading-spinner-background, #aab4c6);
}

.spinAnimation {
  animation: spin 1000ms ease 0ms infinite;
  transform-origin: 50% 50%;
}
