:root {
  --carmore-icon-primary-color: #0d6ffc;
  --carmore-icon-default-color: #999999;
  --carmore-icon-inactive-color: #d4d4d4;

  --carmore-icon-like-active: #ff5775;

  --carmore-icon-loading-spinner-background: #aab4c6;
  --carmore-icon-loading-spinner-foreground: #f3f3f3;
}

[class^='o2-ui-carmore-icon-'] {
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--carmore-icon-default-color);
}
